*{
    margin:0px;
    padding:0px;
}
#header nav{
    background-color: black;
    color:white;
    padding:15px;
}
.one{
    background-color: black;
    color:white;
    display:inline-block;

}
.two{
    background-color:black;
    color:orange;
    display:inline-block;
}
li,ul,h1{
    text-decoration: none;
    
    display:inline;
}
ul{
    color:white;
    margin-left:60%;
}
a{
    color:white;
    text-decoration: none;
}
li:hover a{
    color:orange;
    cursor:pointer;
}
div{
    background-color: black;
    padding:60px;
}
.three{
    color:orange;
    margin-top:10px;
    margin-right:50px;
    font-size:70px;
}
.four{
    color:orange;
}
img{
    padding-left: 490px;
    
    
    position: relative;
    top: -250px;
}
 #about p{
    font-size: 20px;
}
.five{
    text-align: center;
    font-size:50px;
    margin-top:-200px;
    color:orange;
    
}
h3{
    text-aline:center;
    color:bisque;
    padding-left:700px;
    margin-top:-50px;

}
.six{
    color:blanchedalmond;
    padding-left:50px;
    margin-top:80px;
}
.seven{
    padding-left:70px;
    margin-top:10px;
}
.eight{
    color:blanchedalmond;
    padding-left:450px;
    padding-bottom:100px;
    transform: translateY(-65px);

}
.nine{
    padding-left:470px;
    transform: translateY(-150px);
}
.ten{
    color:blanchedalmond;
    padding-left:850px;
    transform: translateY(-220px);

}
.eleven{
    padding-left:870px;
    transform: translateY(-205px);
}
.twelve{
    color:blanchedalmond;
    padding-left:1230px;
    transform: translateY(-275px);
}
.thrteen{
    padding-left:1250px;
    transform: translateY(-260px);
}





